@using VeterinerMVC.Models.EntityFramework
@model List<Randevular>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Randevu ID</th>
        <th>Randevu Tarihi</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    <tbody>
        @foreach(var rndv in Model)
        {
            <tr>
                <th>@rndv.RandevuID</th>
                <td>@rndv.RandevuTarihi</td>
                <td><a href="/Randevu/Sil/@rndv.RandevuID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Randevu/RandevuGetir/@rndv.RandevuID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Randevu/YeniRandevu?HayvanID=@Request.Params["HayvanID"]" class="btn btn-primary">Yeni Randevu Ekle</a>

